{% extends "base_layout.html" %} {% block content %}

<!-- Page Content -->
<div class="container">

	<!-- Page Heading/Breadcrumbs -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
				About <small>Who we are</small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="index.html">Home</a></li>
				<li class="active">About</li>
			</ol>
		</div>
	</div>
	<!-- /.row -->

	<!-- Intro Content -->
	<div class="row">
		<div class="col-md-6">
			<img class="img-responsive"
				src="/images/showroom_entrance.jpg" alt="">
		</div>
		<div class="col-md-6">
			<h2>Granite, Marble, Limestone</h2>
			<p>We have direct access to quarries in many countries, and work with major distributors in Italy, Brazil, Spain, India and China. Because of this,
			we are able to offer some of the most rare and unique natural products in the world at affordable prices. We also work with experienced contractors
			in the Sacramento and San Francisco Bay Area, who can prepare and install our products in your house or place of business in a matter of days.</p>
			<p>Delivery is available to many locations. If you know what you want but are not in the area, contact us today to inquire about shipping options.</p>
			
			<p>We have many years of experience in this industry, know what we are talking about and how to appreciate a good relationship with our customers!</p>
		
			<p><i>Did you know?</i>
			<p>Granite is recognized as one of the most beautiful and reliable materials. It is often used for countertops in bathrooms, stands and kitchens.
			Granite is heat and water resistant, very tough and hard, which makes it virtually unbreakable. It keeps its form and color and does not scratch as easily as other surfaces.
		
		</div>
	</div>
	<!-- /.row -->

	<!-- Team Members -->
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header">Our Team</h2>
		</div>
		<div class="col-md-4 text-center">
			<div class="thumbnail">
				<img class="img-responsive"
					src="images/rovsky2.jpg"
					alt="">
				<div class="caption">
					<h3>
						Sergey Rovsky<br> <small>Local supplier</small>
					</h3>
					<p>Local supplier for all hard surfaces and quality control expert with designer expertise. He makes sure all the projects go smooth and on time.</p>
				</div>
			</div>
		</div>
		<div class="col-md-4 text-center">
			<div class="thumbnail">
				<img class="img-responsive"
					src="images/vadim.jpg"
					alt="">
				<div class="caption">
					<h3>
						Vadim Osipov<br> <small>Fabricator</small>
					</h3>
					<p>Vadim likes his state of the art equipment and very proud of his quality workmanship and customer service</p>
				</div>
			</div>
		</div>
		<div class="col-md-4 text-center">
			<div class="thumbnail">
				<img class="img-responsive"
					src="images/tamara_petrick.jpg"
					alt="">
				<div class="caption">
					<h3>
						Tamara Petrick<br> <small>Owner</small>
					</h3>
					<p>Tamara is one of few people who are able to travel to quarries and pick blocks personally to ensure quality and beauty of the stone</p>
				</div>
			</div>
		</div>
		<!-- /.row -->

		<!-- Our Customers 
		<div class="row">
			<div class="col-lg-12">
				<h2 class="page-header">Our Customers</h2>
			</div>
			<div class="col-md-2 col-sm-4 col-xs-6">
				<img class="img-responsive customer-img"
					src="http://placehold.it/500x300" alt="">
			</div>
			<div class="col-md-2 col-sm-4 col-xs-6">
				<img class="img-responsive customer-img"
					src="http://placehold.it/500x300" alt="">
			</div>
			<div class="col-md-2 col-sm-4 col-xs-6">
				<img class="img-responsive customer-img"
					src="http://placehold.it/500x300" alt="">
			</div>
			<div class="col-md-2 col-sm-4 col-xs-6">
				<img class="img-responsive customer-img"
					src="http://placehold.it/500x300" alt="">
			</div>
			<div class="col-md-2 col-sm-4 col-xs-6">
				<img class="img-responsive customer-img"
					src="http://placehold.it/500x300" alt="">
			</div>
			<div class="col-md-2 col-sm-4 col-xs-6">
				<img class="img-responsive customer-img"
					src="http://placehold.it/500x300" alt="">
			</div>
		</div> -->
		<!-- /.row -->

		<hr>

	</div>
	<!-- /.container -->
</div>
{% endblock %}
