{% extends "base_layout.html" %} {% block content %}
<!-- Page Content -->
<div class="container">

	<!-- Page Heading/Breadcrumbs -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
				Estimate <small>Step 4 of 4</small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="/">Home</a></li>
				<li><a href="/">Select Style</a></li>
				<li><a href="/shape?eid={{ request.get('eid') }}">Define Layout</a></li>
				<li><a href="/material?eid={{ request.get('eid') }}">Pick Color</a></li>
				<li class="active">Estimate</li>
			</ol>
		</div>
	</div>
	<!-- /.row -->
	<div class="row">
		<div class="col-md-6">
		{% include "detailed_estimate.html" %}
		</div>
		<div class="col-md-6">
			<h3>Contact us if you have specific questions or to schedule an
				appointment</h3>
			{% include "contact_form.html" %}
		</div>

	</div>
	<!-- /.row -->

	<hr>
</div>

<!-- /.container -->
{% endblock %}
